<div class="cocktail-banner">
  <div class="banner-overlay">
    <div class="banner-text">
      <h1><%= @cocktail.name %></h1>
    </div>
  </div>
</div>

<div class="flex-box">
  <div class="dose-list">
    <div class="dose-flex-box">
      <ul>
        <h2>Ingredients</h2>
        <% @cocktail.doses.each do |dose| %>
          <li><%= "#{dose.description} - #{dose.ingredient.name}" %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="dose-form">
    <%= simple_form_for([@cocktail, @dose]) do |cock| %>
      <%= cock.input :description, input_html: { class: 'input-field' } %>
      <%= cock.association :ingredient, select_class: { class: 'input-field' } %>
      <%= cock.submit "Add Ingredient", class: 'input-button' %>
    <% end %>
  </div>
</div>

