<h1><%= @cocktail.name %></h1>

<ul>
  <% @cocktail.doses.each do |dose| %>
    <li><%= "#{dose.ingredient.name} - #{dose.description}" %></li>
  <% end %>
</ul>

<%= simple_form_for([@cocktail, @dose]) do |cock| %>
  <%= cock.input :description %>
  <%= cock.association :ingredient %>
  <%= cock.submit %>
<% end %>
